<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.ido.settings">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:label"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.ido.settings.ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ido.settings.ui.main.SetOffAndOnActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.ido.settings.ui.main.LCDActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.ido.settings.ui.main.ScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.ido.settings.ui.main.TimeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.ido.settings.ui.main.OtherActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.ido.settings.ui.main.BeerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.ido.settings.ui.main.TouchActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.ido.settings.ui.main.PortActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.ido.settings.ui.main.NetworkActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.ido.settings.ui.main.AppSetingActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="org.ido.settings.ui.main.ChannelActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.thl.filechooser.FileChooserActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <receiver
            android:name="org.ido.settings.boot.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":boot">
            <intent-filter android:priority="990">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.ido.settings.boot.AiService"
            android:enabled="true"
            android:exported="true"
            android:process=":boot">
            <intent-filter>
                <action android:name="com.caratech.ai.aiservice" />
            </intent-filter>
        </service>
    </application>

</manifest>